body{
  font-family:"Microsoft Yahei",Arial，"Segoe UI";
}
body,html{
  height:100%;
  min-height:100%;
}
body,html.div,p,span,i,em,ul,li,input{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.clear{
  zoom: 1;
}
.clear:after{
  content: '';
  display: block;
  clear: both;
}
.none{
  display: none;
}
.wrap{
  height:100%;

  background-image: url('../images/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.container{
  width: 1010px;
  margin: 0 auto;
  padding-top:100px;
}